<div class="title text-center mb-2">
    <h2>Users</h2>
</div>
<div class="text-end">
    <button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add User</button>
</div>
<div class="table-responsive mt-2">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th span="col">S.No.</th>
                <th span="col">User</th>
                <th span="col">Name</th>
                <th span="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="5%">1</td>
                <td>admin</td>
                <td>Admin</td>
                <td>Edit/Delete</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 mb-3">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="form-label">Select Hotel</label>
                        <select class="form-select">
                            <option>Hotel Test</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Select Department</label>
                        <select class="form-select">
                            <option>Test Department</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="form-label">Name</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Username</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="form-label">Password</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Confirm Password</label>
                        <input class="form-control" type="password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
