<div class="title text-center mb-2">
    <h2>Users</h2>
</div>
<div class="text-end">
    <button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add User</button>
</div>
<div class="table-responsive mt-2">
    <div class="message text-center" *ngIf="!showUsers">
        <h3>No Users Registered</h3>
    </div>
    <table class="table table-bordered" *ngIf="showUsers">
        <thead>
            <tr>
                <th span="col">S.No.</th>
                <th span="col">User</th>
                <th span="col">Name</th>
                <th span="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; let i=index;">
                <td width="5%">{{i+1}}</td>
                <td>{{u.username}}</td>
                <td>{{u.first_name}} {{u.last_name}}</td>
                <td>Edit/Delete</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #user="ngForm" (ngSubmit)="add_user(user)">
                <div class="modal-body px-4 mb-3">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="form-label">Select Hotel</label>
                            <select class="form-select" [(ngModel)]="hotel" name="hotel" required>
                                <option value="N/A">---Select Hotel---</option>
                                <option *ngFor="let h of hotels" [ngValue]="h.id">{{h.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Select Department</label>
                            <select class="form-select" [(ngModel)]="department" name="department" required>
                                <option value="N/A">---Select Department---</option>
                                <option *ngFor="let d of departments" [ngValue]="d.id">{{d.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="form-label">First Name</label>
                            <input class="form-control" type="text" name="fname" ngModel #fname="ngModel" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Last Name</label>
                            <input class="form-control" type="text" name="lname" ngModel #lname="ngModel" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="form-label">Username</label>
                            <input class="form-control" type="text" name="username" ngModel #username="ngModel" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Contact Number</label>
                            <input class="form-control" type="text" name="contact" ngModel #contact="ngModel" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" name="password" ngModel #password="ngModel" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Confirm Password</label>
                            <input class="form-control" type="password" name="password2" ngModel #password2="ngModel" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
