<div class="title text-center mb-2">
    <h2>Items</h2>
</div>
<div class="text-end">
    <button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add Items</button>
</div>
<div class="table-responsive mt-2">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th span="col">S.No.</th>
                <th span="col">Item</th>
                <th span="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="5%">1</td>
                <td>Glass</td>
                <td>Edit/Delete</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-3 mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">Item Name</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Department</label>
                        <select class="form-select">
                            <option>Department A</option>
                        </select>
                    </div>
                </div>
                <div class="row px-2 mt-3 mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Minimum Order Quantity</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
