<div class="title text-center mb-2">
    <h2>Items</h2>
</div>
<div class="text-end">
    <button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadData()">+ Add Items</button>
</div>
<div class="table-responsive mt-2">
    <div class="message text-center" *ngIf="!showItems">
        <h3>No Items Added</h3>
    </div>
    <table class="table table-bordered" *ngIf="showItems">
        <thead>
            <tr>
                <th span="col">S.No.</th>
                <th span="col">Item</th>
                <th span="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let it of items; let i=index;">
                <td width="5%">{{i+1}}</td>
                <td>{{it.name}}</td>
                <td>Edit/Delete</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #item="ngForm" (ngSubmit)="add_item(item)">
                <div class="modal-body px-3 mb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Item Name</label>
                            <input class="form-control" type="text" name="itemName" ngModel #itemName="ngModel" requried>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-12">
                            <label class="form-label">Department</label>
                            <select class="form-select" [(ngModel)]="dept_option" name="dept" #dept="ngModel" required>
                                <option disabled selected value="N/A">---Select Department---</option>
                                <option *ngFor="let d of departments" [ngValue]="d.id">{{d.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button type="button" class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
