<div class="px-5">
    <button class="btn btn-light" (click)="onGoBack()"><i class="bi bi-arrow-left-circle"></i>&nbsp;&nbsp;Go Back</button>
</div>
<div class="text-center">
    <h2>Hotel Master</h2>
</div>
<section class="mt-4 px-5">
    <div class="d-flex justify-content-between">
        <h3>Hotel(s)</h3>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onGetOperation({operation:'add'})">Add Hotel</button>
    </div>  
    <hr>
    <div *ngIf="!hotels[0]">
        <h5>No Hotel(s) Registered</h5>
    </div>
    <div class="row" *ngIf="hotels[0]">
        <div class="col-xl-2 col-md-4 col-6 mt-3" *ngFor="let h of hotels">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <i class="bi bi-pencil-square" style="color: blue;font-size: 20px;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onGetOperation({operation: 'update', id: h.id})"></i>
                        <i class="bi bi-trash3" style="color: red;font-size: 20px;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getDeleteMessage(h.id)"></i>
                    </div>
                    <h5 class="card-title text-center mb-4" style="font-size: 50px;"><i class="bi bi-buildings"></i></h5>
                    <h6 class="card-subtitle mb-4 text-center" style="font-size: 20px;">{{h.name}}</h6>
                </div>
              </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="deleteMessage">Delete Hotel</h1>
                <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="!deleteMessage">{{ editMode ? 'Update Hotel':'Add Hotel'}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #modalBtn aria-label="Close"></button>
            </div>
            <form #hotel="ngForm" (ngSubmit)="onSubmit(hotel)">
                <div class="modal-body">
                    <div *ngIf="deleteMessage; else form">
                        Are you sure you want to delete this hotel ?
                    </div>
                    <ng-template #form>
                        <div class="row px-2">
                            <div class="col-md-6 mt-2">
                                <label class="form-label">Hotel Name</label>
                                <input type="text" class="form-control" name="name" [ngModel]="hotel_name" #name="ngModel" required>
                                <small class="text-danger" *ngIf="name.touched && !name.valid">Please enter hotel name</small>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label class="form-label">Hotel Short Name</label>
                                <input type="text" class="form-control" name="short_name" maxlength="3" minlength="2" [ngModel]="hotel_short_name" #short_name="ngModel" required>
                                <div *ngIf="short_name.touched && short_name.invalid">
                                    <small class="text-danger" *ngIf="short_name.errors!['required']">Please enter hotel short name</small>
                                    <small class="text-danger" *ngIf="short_name.errors!['minlength']">Hotel Short Name must of either 2 or max 3 characters</small>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="header d-flex justify-content-between align-items-center">
                                    <span>Department(s)</span>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 mt-2 d-flex align-items-center" *ngFor="let d of departments; let i=index;">
                                        <div class="form-check">
                                            <input class="form-check-input" *ngIf="!editMode" checked (change)="onItemArray($event, d.name, d.short_name)" type="checkbox" [value]="d.id" id="flexCheckDefault">
                                            <input class="form-check-input" *ngIf="editMode" [checked]="departments_buffer[i] && d.id === departments_buffer[i].department_id && departments_buffer[i].is_selected" (change)="onItemArray($event, d.name, d.short_name)" type="checkbox" [value]="d.id" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{ d.name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="px-4">
                    <div class="alert alert-danger" *ngIf="showSuccess === 'false'">
                        Error
                    </div>
                </div>
                <div class="modal-footer" *ngIf="deleteMessage; else formBtn">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" type="submit">Yes</button>
                </div>
                <ng-template #formBtn>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" type="submit">{{ editMode ? 'Update' : 'Add'}}</button>
                    </div>
                </ng-template>
            </form>
        </div>
    </div>
</div>