<div class="row d-flex justify-content-center align-items-center" *ngIf="user === 'superadmin'">
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/hotel']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-building-add"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Add Hotel</h6>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/department']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-clipboard-plus"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Add Department</h6>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/users']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-person-add"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Add User</h6>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4" [routerLink]="['/dashboard/items']">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-bag-plus"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Add Items</h6>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/report']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-file-text"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Report</h6>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center" *ngIf="user === 'general'">
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-receive']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-check"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Item Receive</h6>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-return']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-down"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Item Return</h6>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-damage']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-slash"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Item Damage</h6>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-transfer']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-up"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-muted text-center">Item Transfer</h6>
            </div>
        </div>
    </div>
</div>
