<div *ngIf="user === 2">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/hotel']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-building-add"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Add Hotel</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/department']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-clipboard-plus"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Add Department</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/mapping']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-diagram-3"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Map Department</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/users']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-person-add"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Add User</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4" [routerLink]="['/dashboard/items']">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-bag-plus"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Add Items</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/menu/item-receive']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-database-check"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Item Receive</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/menu/item-return']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-database-down"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Item Return</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/menu/item-damage']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-database-slash"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Item Damage</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4">
            <div class="card" [routerLink]="['/dashboard/menu/item-transfer']">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-database-up"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Item Transfer</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4" [routerLink]="['/dashboard/report']">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center"><i class="bi bi-journal"></i></h1>
                    <h6 class="card-subtitle mb-2 mt-3 text-center">Report</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center" *ngIf="user === 3">
    <div class="col-xl-2 col-md-4 col-6 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-receive']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-check"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-center">Item Receive</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-6 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-return']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-down"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-center">Item Return</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-6 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-damage']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-slash"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-center">Item Damage</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-6 mt-4">
        <div class="card" [routerLink]="['/dashboard/menu/item-transfer']">
            <div class="card-body">
                <h1 class="card-title text-center"><i class="bi bi-database-up"></i></h1>
                <h6 class="card-subtitle mb-2 mt-3 text-center">Item Transfer</h6>
            </div>
        </div>
    </div>
</div>
