.sidebar.bigscreen{
    position:sticky;
    display: block;
    width: 280px;
    min-height: 100vh;
    background-color: white;
    transition: all 0.25s ease-in-out;
    border-radius: 20px;
    -webkit-box-shadow: 4px 5px 12px -1px rgba(227,227,227,1);
    -moz-box-shadow: 4px 5px 12px -1px rgba(227,227,227,1);
    box-shadow: 4px 5px 12px -1px rgba(227,227,227,1);
}
.sidebar.bigscreen .logo_content .logo img{
    opacity: 1;
    pointer-events: none;
}
.sidebar.bigscreen.inactive .logo_content .logo img{
    opacity: 0;
    pointer-events: none;
    height: 20px;
    width: 50px;
}
.sidebar.bigscreen #btn,
.sidebar.smallscreen #btn{
    position: absolute;
    top:3px;
    left: 90%;
    color: black;
    line-height: 50px;
    width:50px;
    height: 50px;
    text-align: center;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.smallscreen #btn{
    display: none;
}
.sidebar.bigscreen.inactive{
    width: 78px !important;
}
.sidebar.bigscreen.inactive #btn{
    left: 50%;
}
.sidebar.smallscreen{
    display:none; 
}
@media(max-width: 1136px){
    .sidebar.bigscreen{
        display:none;
    }
    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .sidebar.smallscreen{
        overflow: hidden;
        display: block;
        width:0;
        min-height: 100vh;
        background-color: white;
        transition: all 0.25s ease;
        border-radius: 20px;
        -webkit-box-shadow: 0px 1px 12px 7px rgba(227,227,227,1);
        -moz-box-shadow: 0px 1px 12px 7px rgba(227,227,227,1);
        box-shadow: 0px 1px 12px 7px rgba(227,227,227,1);
    }
    .sidebar.smallscreen.mobile-active{
        position: absolute;
        width: 270px;
        top:0;
        left:0;
        z-index: 100;
    }
    .background.activate{
        background: rgba(0,0,0,0.12);
    }
    .sidebar.smallscreen.mobile-active #btn{
        display: block;
    }
}