<div class="text-end mb-4">
    <button class="btn btn-primary" [routerLink]="['/dashboard/menu/item-receive/add']">+ Receive Item</button>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th span="col">S.No.</th>
                <th span="col">Voucher Number</th>
                <th span="col">Received Date</th>
                <th span="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>GC/HK/2223/0001</td>
                <td>30/01/2023</td>
                <td>Edit/Delete</td>
            </tr>
        </tbody>
    </table>
</div>