<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand nav-link" href="#">Heading/Logo</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end popout" style="position: absolute !important">
                  <li><a class="dropdown-item" style="cursor: pointer" (click)="onLogout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>