<div class="title text-center mb-2">
    <h2>Hotels</h2>
</div>
<div class="text-end">
    <button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add Hotel</button>
</div>
<div class="table-responsive mt-2">
    <div class="message text-center" *ngIf="!showHotels">
       <h3>No Hotel Data Available</h3>
    </div>
    <table class="table table-bordered" *ngIf="showHotels">
        <thead>
            <tr>
                <th span="col">S.No.</th>
                <th span="col">Hotel</th>
                <th span="col">Operations</th>
            </tr>
        </thead>
        <tbody *ngFor="let h of hotels; let i=index">
            <tr>
                <td width="5%">{{i+1}}</td>
                <td>Hotel {{h.name}}</td>
                <td>Edit/Delete</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Hotel</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #hotel="ngForm" (ngSubmit)="add_hotel(hotel.value)">
                <div class="modal-body">
                    <div class="row px-2">
                        <div class="col-md-12">
                            <label class="form-label">Hotel</label>
                            <input class="form-control" type="text" name="hotel_name" ngModel #hotel_name="ngModel" required>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label">Short Name</label>
                            <input class="form-control" type="text" name="hotel_short_name" ngModel #hotel_short_name="ngModel" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
