<div class="text-end mb-4">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getHotelDept()">+ Add Items</button>
</div>
<div class="table-responsive">
    <div class="message text-center" *ngIf="!draft[0]">
        <h3>Please add items to proceed</h3>
    </div>
    <div class="section" *ngIf="draft[0]">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th span="col">S.No.</th>
                    <th span="col">Item</th>
                    <th span="col">Quantity</th>
                    <th span="col">Price Per Unit (in Rs.)</th>
                    <th span="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of draft; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{d.item_name}}</td>
                    <td>{{d.quantity_transferred}}</td>
                    <td>{{d.unit_price}}</td>
                    <td>{{d.remarks}}</td>
                </tr>
            </tbody>
        </table>
        <div class="confirm mt-4">
            <button class="btn btn-primary" (click)="transferItems()">Submit</button>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Items</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #itemRec="ngForm" (ngSubmit)="addItemsDraft(itemRec)">
            <div class="modal-body px-4">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Hotel</label>
                        <input type="text" class="form-control" disabled [(ngModel)]="hotel_name" name="hotel_name">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Department</label>
                        <input type="text" class="form-control" disabled [(ngModel)]="dept_name" name="dept_name">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="form-label">Item</label>
                        <select class="form-select" [(ngModel)]="item" name="item" (change)="onChange($event)">
                            <option value="N/A">---Select Item---</option>
                            <option *ngFor="let i of items" [ngValue]="i.id">{{i.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control" name="quantity" ngModel #quantity="ngModel" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="form-label">Price Per Unit (in Rs.)</label>
                        <input type="text" class="form-control" name="ppu" ngModel #ppu="ngModel" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Expiry</label>
                        <input type="date" class="form-control" name="expiry" ngModel #expiry="ngModel" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="form-label">Select Hotel</label>
                        <select class="form-select" [(ngModel)]="to_hotel" name="to_hotel">
                            <option value="N/A">---Select Hotel---</option>
                            <option *ngFor="let h of hotels" [ngValue]="h.id">{{h.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Select Department</label>
                        <select class="form-select" [(ngModel)]="to_dept" name="to_hotel">
                            <option value="N/A">---Select Department---</option>
                            <option *ngFor="let d of depts" [ngValue]="d.id">{{d.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="form-label">Remarks</label>
                        <textarea class="form-control" rows="5" cols="10" name="remarks" ngModel #remarks="ngModel" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            <button type="button" class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
      </div>
    </div>
</div>
