<div class="container form px-5 mt-4">
    <form #hotel="ngForm" (ngSubmit)="onSubmit(hotel)">
        <div class="modal-body">
            <div class="row px-2">
                <div class="col-md-6">
                    <label class="form-label">Hotel<span class="text-danger">*</span></label>
                    <input class="form-control" type="text" name="name" [ngModel]="hotel_name" #name="ngModel" required>
                    <small class="text-danger" *ngIf="name.invalid && name.touched">Please enter hotel name</small>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Short Name<span class="text-danger">*</span></label>
                    <input class="form-control" type="text" name="short_name" [ngModel]="hotel_short_name" #short_name="ngModel" required>
                    <small class="text-danger" *ngIf="short_name.invalid && short_name.touched">Please enter hotel short name</small>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 mb-4">
            <button type="button" class="btn btn-primary" type="button" (click)="onGoBack()">Go Back</button>
            <button type="button" class="btn btn-primary ms-3" type="submit">{{editMode ? 'Update' : 'Submit'}}</button>
        </div>
    </form>
</div>